@import '../../variables.scss';

.categoryHeading {
  width: 100%;
  height: 50px;
  display: flex;
  position: relative;
  border: 1px solid $cardBorderColor;
  border-radius: 5px;
  margin-top: 25px;
  background-color: $headerBackgroundColor;
  button {
    cursor: pointer;
    &:hover {
      fill: $activeButtonColor;
      color: $activeButtonColor;
    }

    &:focus {
      outline: none;
    }

    &:nth-child(2) {
      position: absolute;
      right: 0;
      width: 50px;

      svg {
        width: 50px;
      }
    }
  }
}

.rotateIcon {
  transform: rotate(180deg);
}
