@import '../../variables.scss';
.categoryPage {
  padding: 15px;

  .oneCategory {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
  }

  button {
    text-transform: uppercase;
    background: none;
    border: none;
    height: 50px;
    font-size: 1.5rem;
    margin-left: 10px;
  }
}
