@import '../../variables.scss';

.singleNews {
  padding: 15px;

  @media (min-width: $desktopWidth) {
    width: 800px;
    margin: 0 auto;
  }

  h1,
  img,
  p {
    margin-bottom: 15px;
    text-align: center;
  }

  img {
    width: 100%;
  }

  button {
    display: block;
    margin: 0 auto;
    width: 40px;
    border: 1px solid $cardBorderColor;
    border-radius: 5px;
    background: none;
    cursor: pointer;
    display: flex;
    justify-content: center;
    align-items: center;
    fill: $activeButtonColor;
    box-shadow: 0 1px 3px rgba(0, 0, 0, 0.12), 0 1px 2px rgba(0, 0, 0, 0.24);
    transition: all 0.3s cubic-bezier(0.25, 0.8, 0.25, 1);
    &:hover {
      box-shadow: 0 14px 28px rgba(0, 0, 0, 0.25),
        0 10px 10px rgba(0, 0, 0, 0.22);
    }
  }
}
