.searchPage {
  padding: 15px;
  h1 {
    text-align: center;
  }
  input {
    width: 300px;
    margin: 15px auto;
    display: block;
    height: 40px;
    padding: 5px;
  }
  > div {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
  }
}
