@import '../../variables.scss';
.errorPage {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  padding: 25px;

  img {
    width: 50%;
    @media (min-width: $desktopWidth) {
      width: 25%;
    }
  }

  h3 {
    margin: 25px;
    text-align: center;
    @media (min-width: $desktopWidth) {
      font-size: 2rem;
    }
  }
}
