@import '../../variables.scss';

.languageButtons {
  button {
    width: 50px;
    background-color: $headerBackgroundColor;
    border: none;
    font-weight: bold;
    cursor: pointer;
    &:focus {
      outline: none;
    }
    &:hover {
      color: $white;
    }
  }

  .activeButton {
    color: $activeButtonColor;
    &:hover {
      color: $activeButtonColor;
    }
  }

  button:disabled {
    pointer-events: none;
    opacity: 0.6;
  }
}
