@import './variables.scss';
* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

h1 {
  font-size: 1.5rem;
  @media (min-width: $desktopWidth) {
    font-size: 1.8rem;
  }
}

h2 {
  font-size: 1.2rem;
}
