$desktopWidth: 992px;

//general colors
$white: #ffffff;
$black: #000000;

//header
$headerBackgroundColor: #f3bb30;
$activeButtonColor: #0061b4;

//news card
$cardBorderColor: #ccc;

//spinner
$spinnerStopColor1: #f700a8;
$spinnerStopColor2: #ff8000;
