@import '../../variables.scss';
.sliderButtons {
  display: flex;
  justify-content: center;

  fill: $activeButtonColor;
  button {
    width: 50px;
    height: 50px;
    transform: rotate(90deg);
    cursor: pointer;
    &:first-child {
      transform: rotate(-90deg);
    }

    &:focus {
      outline: none;
    }
  }
}

.singleCategorySlider {
  overflow-x: hidden;
  position: relative;
  margin: 0 auto;
  max-width: 1650px;
  height: 500px;
}

.singleCategory {
  display: flex;
  position: absolute;
  transition: transform 300ms cubic-bezier(0.455, 0.03, 0.515, 0.955);
  > div {
    min-width: 300px;
  }
}
