@import '../../variables.scss';

header {
  width: 100%;
  height: 50px;
  background-color: $headerBackgroundColor;
  display: flex;
  justify-content: space-between;
  -webkit-box-shadow: 0px 2px 5px 0px rgba(112, 111, 112, 1);
  -moz-box-shadow: 0px 2px 5px 0px rgba(112, 111, 112, 1);
  box-shadow: 0px 2px 5px 0px rgba(112, 111, 112, 1);

  @media (min-width: $desktopWidth) {
    height: 60px;
  }

  div {
    display: flex;

    a {
      display: flex;
      justify-content: center;
      align-items: center;
      text-decoration: none;
      color: $black;
      font-size: 1.2rem;
      text-transform: uppercase;

      div {
        border-right: 1px solid $black;
      }

      @media (min-width: $desktopWidth) {
        padding: 10px;
        width: 200px;
      }
    }
  }

  .languageHeader {
    div {
      img {
        display: none;
      }
      p {
        display: block;
      }
    }
  }
}
