@import '../../variables.scss';
.headerNav {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 50px;
  &:hover {
    color: $white;
    svg {
      fill: $white;
    }
  }
  @media (min-width: $desktopWidth) {
    justify-content: flex-start;
    width: 100%;
  }
  p {
    display: none;
    @media (min-width: $desktopWidth) {
      display: block;
      margin-left: 15px;
    }
  }

  svg {
    width: 25px;
    fill: $black;
  }
}

.activeIcon {
  P {
    color: $activeButtonColor;
  }
  svg {
    fill: $activeButtonColor;
  }
  &:hover {
    svg {
      fill: $activeButtonColor;
    }
  }
}
