@import '../../variables.scss';
.newsCard {
  width: 300px;
  height: 470px;
  display: flex;
  flex-direction: column;
  align-items: center;
  position: relative;
  padding: 15px;
  border: 1px solid $cardBorderColor;
  box-shadow: 0 1px 3px rgba(0, 0, 0, 0.12), 0 1px 2px rgba(0, 0, 0, 0.24);
  transition: all 0.3s cubic-bezier(0.25, 0.8, 0.25, 1);
  border-radius: 5px;
  margin: 15px;
  word-break: break-all;

  &:hover {
    box-shadow: 0 14px 28px rgba(0, 0, 0, 0.25), 0 10px 10px rgba(0, 0, 0, 0.22);
  }

  img {
    width: 100%;
    height: 150px;
    margin-bottom: 10px;
  }

  p {
    margin-bottom: 15px;
  }

  a {
    position: absolute;
    bottom: 10px;
  }

  svg {
    width: 30px;
    fill: $activeButtonColor;
  }

  > div {
    height: 110px;
  }
}
